.fabric/
.mixin.out/
.idea/
crash-reports/
dynmap/
FrpClient/
FrpConfiguration/
logs/
mods/
node_modules/
world/
Backup/

banned-ips.json
banned-players.json
eula.txt
fabric-server-launch.jar
fabric-server-launcher.properties
global.config.json
LICENSE
ops.json
server-icon.png
server.jar
whitelist.json
usercache.json
tcp.config.js
start.sh
fabric-installer-0.6.1.51.jar
.idea/vcs.xml
.idea/modules.xml
.idea/
server.properties
