.fabric/
.mixin.out/
crash-reports/
dynmap/
FrpClient/
FrpConfiguration/
logs/
mods/
node_modules/
world/

banned-ips.json
banned-players.json
eula.txt
fabric-server-launch.jar
fabric-server-launcher.properties
global.config.js
LICENSE
ops.json
server-icon.png
server.jar
whitelist.json
usercache.json
